{% extends "core/base.html" %}
{% block content %}
<!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Grid Items -->
      <div class="row">





{%for item in items %}
        <!-- Portfolio Item 1 -->
        <div class="col-md-12 col-lg-12">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

              <video  style="width:100%;height:auto" controls>
                <source src="/media/{{ item.video }}" type="video/mpg">
                <source src="/media/{{ item.video }}" type="video/mpeg">
                <source src="/media/{{ item.video }}" type="video/mp4">
                <source src="/media/{{ item.video }}" type="video/swf">
                <source src="/media/{{ item.video }}" type="video/wmv">
            </video>

             <a class="col-sm-6 text-center text-white" href="/media/{{ item.video }}"> Download Link !  </a>
            <p class="col-sm-6 text-center text-white" >{{ item.description }}</p>
          </div>
        </div>
        <hr/>



{% endfor %}

      </div>
      <!-- /.row -->

    </div>
  </section>

{% endblock %}