{% extends "core/base.html" %}

{% block content %}
  <!-- Masthead -->
<img class="masthead-avatar mb-5" src="/static/img/portfolio/avataaars.svg" alt="Parspooyesh Fanavar Logo">
        <!-- Masthead Avatar Image -->

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star">Welcome</i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">
        About Me !
      </p>
      <p class="masthead-subheading font-weight-light mb-0">
        I am a simple django web application that you can use it for sharing your video with your friends
      </p>
      <p class="masthead-subheading font-weight-light mb-0">
         I hope it will be useful for you
      </p>
      <p class="masthead-subheading font-weight-light mb-0">
        Also if you want join to me and contribute please see this link
        <a class="text-white" href="http://github.com/AmirhosseinVejahat">"Github"</a>
        and push your code
      </p>






  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <!-- <i class="fas fa-star"></i> -->
        </div>
        <div class="divider-custom-line"></div>
      </div>
        <div class="row">
      <!-- Portfolio Grid Items -->


      </div>
      <!-- /.row -->

    </div>
  </section>

{% endblock content %}